<div><b>{{testUser}}</b></div>
<!-- <app-send-message></app-send-message> -->

<ul class="nav flex-column">
    <li class="nav-item">
        <app-send-message></app-send-message>
    </li>
    <li class="nav-item">
      <a [class.active]="currentMailBox === 'in'" class="nav-link" (click)="changeMailBox('in')" href="#">Inbox</a>
    </li>
    <li class="nav-item">
        <a [class.active]="currentMailBox === 'out'" class="nav-link" (click)="changeMailBox('out')" href="#">Sent Mail</a>
    </li>
</ul>